body {
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #000;
}

label {
	margin: 10px 0 0 0;
	display: block;
}

input {
}

input.searchbox {
	width: 80%;
	padding: 5px;
	font-size: 14px;
	color: #666;
}

input.searchbutton {
	width: 35px;
	height: 35px;
}

ul.toolbar {
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul.toolbar li {
	display: inline;
	margin: 0 15px 0 0;
}

ul.toolbar a, ul.toolbar a:visited, ul.toolbar a:active {
	text-decoration: none;
	color: #0000ff;
}

h2 {
	color: #999;
	border-bottom: 1px solid #999;
}
h3 {
	margin: 15px 0 0 0;
	font-size: 13px;
	font-weight: bold;
}

h4 {
	font-size: 11px;
	padding: 0;margin: 0;
	line-height: 14px;
	color: #a62626;
}

.invisible {
	display: none;
}

#lastrequests {
	height: 200px;
	overflow-y: auto;
	width: 100%;
}

.request {
	width: 95%;
	color: #333;
	border: 1px dotted #666;
	background: #ededed;
	padding: 10px;
	margin: 15px 0 0 0;
}

table{
	width: 600px;
}
table th{
	font-size: 15px;
	color: #FF0000;
	text-align: left;
}
table td{
	font-size: 15px;
}

table.searchResults{
	width: 600px;
}
table.searchResults th{
	font-size: 15px;
	color: #FF0000;
}
div.footer{
	float: left;
	margin-top: 30px;
}

div.titulo{
	margin-top: 10px;
}

