body {
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #000;
}

label {
	margin: 10px 0 0 0;
	display: block;
}
input {
}

input.large {
	width: 400px;
}

ul.toolbar {
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul.toolbar li {
	display: inline;
	margin: 0 15px 0 0;
}

ul.toolbar a {
	text-decoration: none;
	
}

h2 {
	color: #999;
	border-bottom: 1px solid #999;
}
h3 {
	margin: 15px 0 0 0;
	font-size: 13px;
	font-weight: bold;
}

.invisible {
	display: none;
}

