body {
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #000;
}

label {
	margin: 10px 0 0 0;
	display: block;
}

input {
}

input.searchbox {
	width: 610px;
	padding: 5px;
	font-size: 14px;
	color: #666;
}

input.searchbutton {
	width: 35px;
	height: 35px;
}

ul.toolbar {
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul.toolbar li {
	display: inline;
	margin: 0 15px 0 0;
}

a, a:visited, a:active {
	text-decoration: none;
	color: #0000ff;
}

h2 {
	color: #999;
	margin: 15px 0 0 0;
	padding: 0;
}
h3 {
	margin: 15px 0 0 0;
	font-size: 13px;
	font-weight: bold;
}

h4 {
	font-size: 11px;
	padding: 0;margin: 0;
	line-height: 14px;
	color: #a62626;
}

.invisible {
	display: none;
}

#lastrequests {
	height: 200px;
	overflow-y: auto;
	width: 100%;
}

.request {
	width: 95%;
	color: #333;
	border: 1px dotted #666;
	background: #ededed;
	padding: 10px;
	margin: 15px 0 0 0;
}

table{
	width: 600px;
}
table th{
	font-size: 15px;
	color: #FF0000;
	text-align: left;
}
table td{
	font-size: 15px;
}

table.searchResults{
	width: 600px;
}
table.searchResults th{
	font-size: 15px;
	color: #FF0000;
}
div.footer{
	float: left;
	margin-top: 30px;
}

div.titulo{
	margin-top: 10px;
}
div.icono1{
	
}

table.grid {
	width: 100%;
	border-collapse: collapse;	
}

table.grid th {
	padding: 5px;
	font-size: 12px;
	background-color: #ddd;
	color: #666;
}

table.grid tr {
	margin: 0 0 0 0;
	border-bottom: 1px solid #ccc;
}

table.grid td {
	margin: 0 0 0 0;
	padding: 5px;
	font-size: 12px;
	color: #666;
}

table.artifact {
	width: 100%;
	margin: 10px 0 0 0;
}
table.artifact td {
	font-size: 11px;
	padding: 4px;
}

table.artifact td.label {
	width: 100px;
	color: #666;
	text-align: right;
	background-color: #ededed;
	padding: 4px;
	font-weight: bold;
}

.download-button {
	left: 800px; 
	position: absolute;
}

table.viene-va {
	margin-top: 20px;
	width: 100%;
}

table.viene-va td{
	font-size: 11px;
}
table.viene-va td.label {
	width: 33%;
	color: #333;
	text-align: center;
	background-color: #ddd;
	padding: 4px;
	font-weight: bold;
}
table.viene-va td {
	background-color: #efefef;
	padding: 5px;
}

.tag { padding: 4px; margin: 1px; background-color:#79a3ff; color: #fff; }
.star { display: inline-block; width: 18px; height: 18px; background-image: url(/images/stars.png); }

