<h3>&iquest;Qu&eacute; est&aacute;s buscando?</h3>
<form method="get" action="/artifacts/search">
	<input type="text" class="searchbox" name="search_text" id="search_text" value=""/>
	<input type="image" align="top"src="/images/searchbutton.png" class="searchbutton" name="buscar" value="Buscar" id="buscar" />
</form>
<br /><br /><br />

<h2>&Uacute;ltimas solicitudes</h2>
<div id="lastrequests">
	<div class="request">
		<h4>busco base de datos de comunas</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in odio odio. Sed eu lorem massa. Proin malesuada justo eget mauris tempus egestas. Integer pulvinar dapib aliquam eros venenatis. Fusce placerat accumsan lorem, et sagittis nunc convallis at. In hac habitasse platea dictumst. Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	</div>
	
	<div class="request">
		<h4>busco base de datos de comunas</h4>
		<p>Quis pulvinar mi ultriccerat accumsan lorem, et sagittis nunc convallis at. In hac habitasse platea dictumst. Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	</div>
	<div class="request">
	<h4>busco base de datos de comunas</h4>
	<p> Nullam aliquet, leo et convce placerat accumsan lorem, et sagittis nunc convallis at. In hac habitasse platea dictumst. Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	<h4>busco base de datos de comunas</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in odio odio. Sed eu lorem massa. Proin malesuada justo eget mauris tempus egestas.Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	</div>
</div>
