
<h2>Resultado de la Busqueda</h2>

<table class="grid">
	<tr>
		<th>Nombre</th>
		<th>Formato</th>
		<th>&Uacute;ltima Fecha Edici&oacute;n</th>
		<th width="35%">Descripci&oacute;n</th>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Listado de Comunas</a></td>
		<td>xls</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Hospitales por Comuna</a></td>
		<td>pdf</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Restaurantes de Comunas</a></td>
		<td>xls</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Videoclubs por Comuna</a></td>
		<td>pdf</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Cines de Comunas</a></td>
		<td>xls</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Veterinarias por Comuna</a></td>
		<td>pdf</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Videoclubs por Comuna</a></td>
		<td>pdf</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Cines de Comunas</a></td>
		<td>xls</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
	<tr>
		<td><a href="/artifacts/1">Veterinarias por Comuna</a></td>
		<td>pdf</td>
		<td>28-05-2010</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur ultricies erat, vel fringilla quam ultricies sed. </td>
	</tr>
</table>
<br />
<a href=#>Anterior</a>
&nbsp;
<a href=#>1</a>
&nbsp;
<a href=#>2</a>
&nbsp;
<a href=#>3</a>
&nbsp;
<a href=#>Siguiente</a>