
<h2>Resultado de la Busqueda</h2>

<table class="grid">

	<tr>
		<th>Nombre</th>
		<th>Formato</th>
		<th>Ultima Fecha Edicion</th>
	</tr>
	
	<%- @artifacts.each do |artifact| -%>
		<tr>
			<td><%= link_to artifact.name, artifact %></td>
			<td><%= artifact.format %></td>
			<td><%= time_ago_in_words(artifact.updated_at) %></td>
		</tr>
	<%- end -%>
	</table>
<br />
<a href=#>Anterior</a>
&nbsp;
<a href=#>1</a>
&nbsp;
<a href=#>2</a>
&nbsp;
<a href=#>3</a>
&nbsp;
<a href=#>Siguiente</a>