<div id="titulo">
			<h2><img alt="xls" src="/images/xls.png" width="50px" align="middle"> Listado de Comunas</h2>
		</div>
		<div id="arbol">
			<div style="float:left">Viene de<br/>
				<ul>
					<li>Link del gobierno con el listado</li>
					<li>Link de wikipedia</li>
				</ul>
			</div>
			<img width="64px" style="float:left" src="/images/back-arrow.png"/>
			<div style="float:right">Va hacia<br/>
				<ul>
					<li>Array de comunas en JavaScript para validacion</li>
				</ul>
			</div>
			<img width="64px" style="float:right" src="/images/forward-arrow.png"/>
		</div>
		
		<div style="clear:both; float: left; width:60%">
			<div id="fecha" style="float: left; font-weight: bold">28-05-2010</div>
			<div id="descripcion" style="margin-top:30px;margin-left: 50px;">Muestra el listado de comunas actualizado con 15 regiones</div>
		</div>
		<div id="sidebar" style="float: right; width:40%">
			<div id="rating">Rating: <br/>
				<span class="star"></span><span class="star"></span><span class="star"></span>
			</div>
			<div id="relacionados">Relacionados: <br/>
				<ul>
					<li>DAP</li>
					<li>Array de comunas en JavaScript para validacion</li>
				</ul>
			</div>
			<div id="tags">Tags: <br/>
				<span class="tag">tag1</span>
				<span class="tag">tag2</span>
			</div>
		</div>
		<div style="clear: left; padding: 20px">
			<a href="#">Obtener</a>
		</div>
		<div id="comentarios"> Comentarios: <br/>
			<ul>
				<li>Pepito: super buenas las comunas, me sirvieron mucho</li>
				<li>Juan: yo queria las de santiago no mas, son muchas</li>
			</ul>
		</div>